/*  your css code here. If applicable */
.btn {
  background-color: #4CAF50;
  color: white;
  padding-left: 20px;
	padding-right:20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
body{
	 background-color: rgb(158, 83, 227)
}
.stop {
  background-color: rgb(158, 83, 227);
}
.buttons{
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px
}